.w-back {
  animation: 0.4s full-width ease-in;
}
@keyframes full-width {
  0% {
    width: 0px;
    transition-property: width 0.4s;
  }
  100% {
    width: fit-content;
  }
}

.nav-item {
  @apply px-4 py-2 mx-1 z-10 relative;
}
.is-active {
  transform: scale(1.15);
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
}

.nav-item:not(.is-active):hover {
  @apply opacity-75;
}


@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}
