@import url("./nav-list.css");

@keyframes fade-background {
  from {
    @apply bg-transparent backdrop-blur-none;
  }
  to {
  }
}
.from-bg-transparent-scroll {
  animation: fade-background linear both;
}
@keyframes scale-in {
  0% {
    @apply scale-110 text-white;
  }
  10% {
    @apply text-current;
  }
}

@keyframes whiten-border {
  0% {
    @apply border-white;
  }
}

@keyframes whiten-text {
  from {
    @apply text-white;
  }
}

@keyframes whiten-svg {
  from {
    @apply fill-white stroke-white;
  }
}

.from-white-borders {
  animation: whiten-border, whiten-text linear both;
}
.from-white-text {
  animation: whiten-text linear both;
}
.from-white-svg {
  animation: whiten-svg linear both;
}
.link-scale {
  animation: scale-in linear both;
}
.from-bg-transparent-scroll,
.link-scale,
.from-white-borders,
.from-white-text,
.from-white-svg {
  animation-timeline: scroll();
  animation-range: 0 150px;
}
